/work
/.project
/.settings

/web/.gitignore
/web/src/main/webapp/.#webclasspath
/web/src/main/webapp/js/msg.js
/web/.tomcatplugin
/web/work
/web/.project
/web/.settings
/web/.classpath
/web/target
/web/src/main/webapp/datahome

/entity/.gitignore
/entity/work
/entity/.project
/entity/.settings
/entity/target
/entity/.classpath

/client/.gitignore
/client/work
/client/.project
/client/.settings
/client/target
/client/.classpath