<routes>
	<root to="Index#index" />

	<controller name="ExcelList">
		<get path="/excel" to="findAllExcels"/>
	</controller>

	<controller name="ExcelUpload">
		<post path="/excel" to="upload"/>
	</controller>

	<controller name="ExcelDetail">
		<get path="/excel/:fileBaseName/:fileExtention" to="show"/>
	</controller>

</routes>