@CHARSET "UTF-8";

#container{
	-fx-pref-width: 1000px;
	-fx-pref-height: 700px;
}

#header{
	-fx-background-color: #140079;
	-fx-padding: 15 0 15 20;
}

.logo-font{
	-fx-font-size: 20pt;
	-fx-text-fill: #ffffff;
}

.excel-list{
	-fx-pref-width: 1000px;
	-fx-pref-height: 100px;
}

/* for SpreadSheet */

.spread-sheet{
	-fx-pref-width: 1000px;
}

#excel-row-header{
	-fx-background-color: #DADADA;
}