<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="../css/bootstrap.min.css" media="all" rel="stylesheet" />
	<link href="../css/client.css" media="all" rel="stylesheet" />

	<title>JavaFx Excelファイルアップロード</title>
</head>
<body>
	<header>
		<div class="container">
			<nav class="navbar">
				<div class="navbar-inner">
					<span class="logo-font">
						demo
					</span>
				</div>
			</nav>
		</div>
	</header>

	<div id="main-content" class="container">
		<div class="row">
			<div class="col-md-12">
				<form action="#" method="POST">
					<table class="table">
						<tbody>
							<tr>
								<th>
									Excelファイル
								</th>
								<td>
									<input type="file" />
								</td>
							</tr>
						</tbody>
					</table>

					<div style="text-align: center;">
						<button type="submit" class="btn btn-primary">
							アップロード
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
				</div>
			</div>
		</div>
	</footer>
</body>
</html>